.form-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 8px;
    background-color: white;
    max-width: 400px;
    margin: auto;
}

.form-icon {
    position: absolute;
    margin: 12px 10px;
    color: #6c757d;
}

.form-group {
    position: relative;
}

.form-group input {
    padding-left: 40px; /* space for the icon */
}

/* If you want to control the icon size */
.form-icon {
    font-size: 18px; /* Adjust size as needed */
}

h3 {
    margin-bottom: 20px; /* Adjust the value as needed */
}

.register-link {
    color: #0085B5; /* Change text color */
    text-decoration: none; /* Remove underline */
}

.register-link:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}

